[2018-07-09 18:26] smithad15 opened #1 "Setup CI for package build"
Have CI run the build for all packages

[2018-07-09 18:29] smithad15 opened #2 "Add contribution docs"
Create guidelines around development practices and how to start contributing

[2018-07-09 18:31] smithad15 opened #3 "Add prettier"
Leverage prettier to format all code

[2018-07-10 13:12] smithad15 opened #4 "Global TSLint"
Promote TSLint rules to the global scope and re-evaluate their contents

[2018-07-10 13:37] smithad15 opened #5 "Change to Jest for Unit Tests"
Switch over to using Jest at the root level to run all of the unit tests

[2018-07-10 13:37] smithad15 opened #6 "Setup CI for unit tests"
Setup CI to run unit tests for every commit

[2018-07-10 13:37] smithad15 opened #7 "Setup CI for linting"
Setup CI to run linters for every commit

[2018-07-10 13:38] smithad15 opened #8 "Upgrade Angular + CLI for example app"
The current example app is still running Angular 4 and associated dependencies. This need to be brought up to date.

[2018-07-10 13:38] smithad15 opened #9 "Switch build process to ngPackagr"
Unify all build tooling to leverage ngPackagr in order to unify with the greater ecosystem. This will also allow up to more easily support the angular package format.

[2018-07-10 13:40] smithad15 opened #10 "Hoist dependencies out of individual packages"
Where appropriate, hoist any dev package dependencies up to the workspace to ensure the same versions are being used across all packages

[2018-07-10 13:40] smithad15 opened #11 "Lazy loading reducers"

[2018-07-10 13:40] smithad15 opened #12 "Add standardized commit structure"
Investigate and implement a standardized commit structure to allow for easier history browsing and automated tooling (i.e. changelog creation)

[2018-07-10 13:40] smithad15 opened #13 "Add automatic changelog generation"
Leverage standardized commit messages to automatically generate a changelog

[2018-07-10 13:41] smithad15 opened #14 "Add/update issue template"

[2018-07-10 13:41] smithad15 opened #15 "Determine release governance structure/process"

[2018-07-10 13:42] smithad15 opened #16 "Store Unit Tests"

[2018-07-10 13:42] smithad15 opened #17 "Form Unit Tests"

[2018-07-10 13:42] smithad15 opened #18 "Router Unit Tests"

[2018-07-10 13:43] smithad15 opened #19 "Dev Tooling Upgrade"

[2018-07-10 13:59] smithad15 opened #20 "Migrate issues from store repo"

[2018-07-10 13:59] smithad15 opened #21 "Migrate issues from form repo"

[2018-07-10 14:09] smithad15 opened #22 "Migrate issues from router repo"

[2018-07-11 13:01] #12 closed

[2018-07-11 15:45] #1 closed, assigned to smithad15

[2018-07-11 17:06] #3 closed

[2018-07-13 20:01] #7 closed

[2018-07-15 02:54] #5 closed

[2018-07-15 22:49] greymind opened #31 "[Form] StaticInjectorError(AppModule)[ConnectArray -> ConnectBase]"
Error:
[code]

Source:
[code]

The error occurred after I added the above code to map an array in redux to the form here. Started the project 2 days ago with latest versions of things. Angular 6, et. al. Please advise!

Related issues:
* https://github.com/angular-redux/form/issues/54
* https://github.com/ngrx/platform/issues/549

Environment:
[code]

Thanks!

[2018-07-16 20:29] #6 closed

[2018-07-23 13:47] smithad15 opened #34 "Add code coverage tooling and threshold"
CI should fail if code coverage is lowered.

[2018-07-25 00:22] milocosmopolitan commented on #8
Hi @smithad15, first thank you for the great product. I've been consuming `@angular-redux/store`, `@angular-redux/router`, `@angular-redux/form` more than a year on various angular 4+ projects, and it has been helping me a lot. Recently projects that I've been working on faced issues utilizing your `@angular-redux/store` with route lazy-load. Although `@ngrx` does resolve this, I still want to sta

[2018-07-26 18:40] #4 closed

[2018-07-26 18:49] smithad15 opened #36 "Switch to tree shakable providers"
Leverage the `providedIn` property in `@Injectable()`

[2018-07-26 18:59] smithad15 commented on #8
Hey @milocosmopolitan. Thanks for your support of the library and volunteering to help. Supporting lazy loading is definitely on the feature roadmap for v10. Right now, we are going through a phase of technical debt reduction and making it easier for folks like yourself to be able to contribute. At the moment, it would be a bit difficult for you to get onboard unfortunately. I'm hoping to get that

[2018-08-01 15:59] milocosmopolitan commented on #8
Hi @smithad15 makes sense. I was able to resolve route lazyloading issue without making any changes to your actually library. On our project we used to consume the code on example app with `StoreModule` initializing redux store on its constructor, but instead of going with that approach we created `StoreService` which wraps `NgRedux` service and has its own method to initialize redux store using i

[2018-08-01 18:27] smithad15 commented on #8
Glad you were able to figure out a solution around it for now. Would love to see an example repo if you get a chance. While the openness of this library does allow workarounds like you described, I do still have a goal of providing a simpler API for the library so that you don't have to worry as much about the registration details

[2018-08-01 18:27] #9 closed

[2018-08-17 18:19] cholt0425 opened #39 "Passing rootreducer to the configureStore method fails compilation in Typescript"
### This is a...

* [ ] feature request
* [ ?] bug report
* [ X] usage question

### What toolchain are you using for transpilation/bundling?

* [X] @angular/cli
* [ ] Custom @ngTools/webpack
* [ ] Raw `ngc`
* [ ] SystemJS
* [ ] Rollup
* [ ] Other

### Environment

NodeJS Version: 8.11.3
Typescript Version: 2.9.3
Angular Version: 6.1.3
@angular-redux/store version: ^9.0.0
@angular/cli version: (if

[2018-08-17 18:22] #39 closed, assigned to nobody

[2018-09-01 12:19] rubiktubik opened #40 "Register epics in Application"
Hi,

you wrote a [Tutorial](https://github.com/angular-redux/platform/blob/master/packages/store/articles/epics.md) on how to register epics in a application but it seems not to work anymore.

I tried to reproduce the example and it starts with this error:
![grafik](https://user-images.githubusercontent.com/115047/44945839-46b83100-adf1-11e8-9e63-d5c2d3bf72f3.png)

ActionObservable needs an argume

[2018-09-02 15:08] joese commented on #40
Hi!

Using rxjs 6+, Angular 6+ and Angular-redux 9+ I'm using this aproach:

In the same class where my epics are declared, declare an function returning an array of epics:
[code]
Split up epics in several classes reflecting the architecture of app. Collect all epics in an RootEpic class:
[code]

Define an rootReducer to assign different reducers to parts in the store:
[code]

StoreModule is using

[2018-09-05 20:59] #10 closed

[2018-09-12 15:17] Prat041192 opened #42 "Install Guidelines for angular-redux"
I am trying to install angular-redux/store, angular-redux/routerm, and angular-redux/form in my Angular project ( `"@angular/core": "^6.1.6",` ).
My package.json show
  `
 "@angular-redux/form": "github:angular-redux/form",
 "@angular-redux/router": "github:angular-redux/router",
 "@angular-redux/store": "github:angular-redux/store",
`

redux version ( ` "redux": "^4.0.0", `)
mentioned 3 entries b

[2018-09-13 13:03] igpeev commented on #40
@joese, FABULOUS !!!

[2018-09-13 16:43] takahser opened #43 "example-app: unable to start app & ci build fails"
see Circle CI build: https://circleci.com/gh/angular-redux/example-app

also, when trying to run the example app locally (`npm install && ng serve`), it fails:

[code]

My environment:

[code]

[2018-10-11 06:53] qbq commented on #43
I met same issue, any solution?

[2018-10-17 17:25] Vizvoxer opened #45 "Angular schematics"
Similar flux-based libs started providing schematics to reduce notoriously known "boilerplate". Is it planned feature within angular redux?

[2018-10-18 04:51] maplion opened #46 "Module/Codesplitting Issue with @angular-redux/form"
I am currently using @angular-redux/form 9.0.1 and when I tried to modularize my application, even with a reducer registry, I was unable to avoid this error: `Typeerror: cannot read property 'getstate' of undefined at rootstore._this.getstate (root-store.js:40)`  coming from @angular-redux/form when loading any component that had a form with [connect] that was inside of a lazy-loaded module.

I wa

[2018-10-18 23:00] lcecil opened #47 "Unit Testing: Set Up Question"
**Posting this here, as well as in the old repo**

### This is a...

* [ ] feature request
* [ ] bug report
* [x] usage question

### What toolchain are you using for transpilation/bundling?

* [x] @angular/cli
* [ ] Custom @ngTools/webpack
* [ ] Raw `ngc`
* [ ] SystemJS
* [ ] Rollup
* [ ] Other

### Environment

NodeJS Version: 8.11.2
Typescript Version: 2.7.2
Angular Version: 6.0.9
@angular-redu

[2018-10-29 20:10] chunghha opened #48 "[Question] Angular 7 support"
I am sorry to ask this kind of questions to Issues here.

@smithad15 could you answer what's being planned to support Angular 7 with these packages? ( I know the store v.9 works fine with Angular 7 except peer dependency warning on npm installation. ) If you could, it would be a great help for me to schedule our production updates to Angular 7.

[2018-10-29 20:24] HarelM commented on #48
Same here.

[2018-11-03 19:46] HarelM opened #49 "Facilitate class instead of switch cases"
Hi,

I have written the following decorator in order to be able to use classes instead of pure functions and reduce switch cases complexity.
I think it can be a nice addition to this library.
Please let me know what you think.
Most of the code is written here:
https://stackblitz.com/edit/angular-redux-undo-decorator?file=src%2Fapp%2Ftyped-reducer.ts
Example can be seen here:
https://stackblitz.com

[2018-11-08 20:06] smithad15 commented on #13
Closed with #50

[2018-11-08 20:06] #13 closed

[2018-11-08 20:07] smithad15 commented on #15
Closed by #50

[2018-11-08 20:07] #15 closed

[2018-11-08 20:16] smithad15 opened #51 "Upgrade Husky"
Husky needs to be upgraded to v1+. This will require adjustment of the git hook config

[2018-11-08 20:35] #51 closed

[2018-11-13 06:58] AK2083 opened #53 "lists are no refreshing by emit an event by output"
I wrote an app with angular 7 and @angular-redux/store 9.
This app has two lists which contains hero objects. Each object has a boolean marker. The first list shows objects as 'true' marked. The other list shows objects with 'false' marked. If I press an hero object (marked as false) on the first list, the objects was marked as true, removed from the first list and showed on the second list.

I re

[2018-11-13 09:00] AK2083 commented on #53
I could solve it

[2018-11-13 09:00] #53 closed

[2018-11-16 09:25] Sluchaika opened #54 "Example @angular-redux/store^9 + redux-observable^1.0.0"
Hello! Where I can find example with @angular-redux/store^9 + redux-observable^1.0.0 ?

[2018-11-28 14:55] wtho commented on #54
I created a minimal example [on stackblitz](https://stackblitz.com/edit/angularv7-redux-simple-setup). (Angular v7, rxjs v6, @angular-redux/store v9, redux-observable v1, redux v4)

Feel free to check it out, it is way smaller and simpler than the example app.

[2018-11-30 12:38] beac0n commented on #19
Is this issue related to this error message:

https://github.com/zalmoxisus/redux-devtools-extension#usage

[2018-12-05 18:31] smithad15 commented on #19
It's not, but I will add a new issue for that.

[2018-12-05 18:34] smithad15 opened #56 "Update Redux DevTools extension global variable"
https://github.com/zalmoxisus/redux-devtools-extension#usage

[2018-12-05 18:34] smithad15 commented on #19
See #56 for progress on the above

[2018-12-05 18:36] smithad15 commented on #43
We are in the process of doing a much needed tooling upgrade to the example app. Please see #8 for progress

[2018-12-05 18:36] #43 closed

[2018-12-05 18:39] smithad15 opened #57 "Create ng add schematics for store"
Users should have the ability to run `ng add @angular-redux/store` and have a basic Redux store created for them.

[2018-12-05 18:41] smithad15 commented on #45
Yes, that is something that we would like to add. We will probably start with a schematic for initial setup and then go from there. Please see #57 to track our progress on the initial `add` schematic

[2018-12-05 18:41] #45 closed

[2018-12-29 19:36] abductedMind opened #61 "Worried about future compatibility"
There is evidence that this project is losing steam or at least is vulnerable to not being made compatible with future versions of Angular when they come out. The example app not being up to date is my biggest clue to this possible future. How can the public know that this repo will likely continue to be maintained?

[2019-01-08 02:39] smithad15 commented on #49
Thanks for presenting this as an option to add to the library. We are going to decline adding it into this library since the utility has an application with more than just Angular code. I would encourage you to create a library of your own and add it to the Redux ecosystem at large. Best of luck!

[2019-01-08 02:39] #49 closed

[2019-01-08 02:39] #54 closed

[2019-01-08 02:44] smithad15 commented on #31
Unfortunately ConnectArray in its current state does need some love. I would be happy to help if someone can create a reproduction on StackBlitz or similar.

[2019-01-08 02:48] smithad15 commented on #48
As it is now January, you can probably guess that the grand plans of getting v10 of this library released along-side Angular 7 have come and gone. Once the work of upgrading the example app has been completed (see https://github.com/angular-redux/platform/tree/upgrade-angular-7 for current progress) we will cut v10. Please do continue to use v9 despite the dependency warning

[2019-01-08 02:48] #48 closed

[2019-01-08 02:49] smithad15 commented on #47
@wtho Can you confirm what the solution to this was if a solution was found?

[2019-01-08 02:55] smithad15 commented on #42
That error is generally related to how your modules are registered or imported in the source code. Due to the amount of time passed with this issue, I hope that you were able to find a solution. If not, please provide more details or a reproduction on StackBlitz or similar

[2019-01-08 02:55] #42 closed

[2019-01-08 02:55] #40 closed

[2019-01-08 03:11] smithad15 opened #64 "Create a basic StackBlitz template"
Having a basic StackBlitz setup for the library would be useful. This could be used as a template for issue reporting or just for the community at large.

[2019-01-08 07:00] vikas-rb15 commented on #40
@joese

Above code helped me to change root epic and store configure, but i am facing one more issue.

Currently i am working on migration from angular 5 to 6. While updating to redux 4 i am getting error as store.getState() is not a funtion

[code]
`export type FSAction = FluxStandardAction<any, MetaData | null | number>;`

[code]

[2019-01-08 07:54] joese commented on #40
If you are upgrading, you will then encounter that Epic interface has changed to:
[code]

getState is not a function, you should use the .value instead.
Try this:
[code]

An epic should return an action, not a value. A reducer should pick up the action and change state accordingly.

[2019-01-08 09:17] vikas-rb15 commented on #40
@joese Thank you very much. It helped me in solving my issue. Could you please give me reference documents for such epic middleware with rxjs to understand more

[2019-01-08 22:55] wtho commented on #47
Hey!

When installing the spy, the testbed was already setup, and the component compiled and instantiated and the constructor already executed. The component lifecycle hooks, such as `ngOnInit` are not called yet, which is great, so we can do things like setting up the spy. But it also will not be called by the testbed automatically, as it does not know, if the lifecycles are required for tests or

[2019-01-08 23:35] lcecil commented on #47
Hi.

Thanks for the reply, that helped. I played around with things and got it to work with this setup:
[code]

[2019-01-08 23:35] #47 closed

[2019-01-09 05:00] willwolfram18 commented on #31
Easiest repro is honestly the sample in the angular-redux/form README.md (which coincidentally has a syntax error itself specifically it should have `ng-template` as opposed to `template`).

Repro is available here: https://stackblitz.com/edit/angular-redux-connectarray-repro

[2019-01-09 14:12] wtho commented on #64
I created one [here](https://stackblitz.com/edit/angularv7-redux-simple-setup) a while ago. I stripped `angular-redux/forms` and `angular-redux/router` from it, as they create noise in redux without being involved in issues most of the time.

It features:
* Current angular/redux/redux-observable/... versions
* One component assigned to a route (`home.component`)
* One simple sync action for this c

[2019-01-09 19:39] abductedMind commented on #61
I appreciate the response! My preference for this package was founded in the less can be more philosophy. For example having to learn about and find Reselect instead of taking it for granted within NgRx was beneficial. Additionally if one uses both React and Angular this package is a better choice imo because you can embrace the larger Redux ecosystem more directly.

[2019-01-10 15:39] ama-joel-kravets commented on #31
We found a solution to this issue but it requires overriding how the `ConnectArray` directive works. Here is a fork of your example with the working changes: https://stackblitz.com/edit/angular-redux-connectarray-repro-r1qftj.

Here is what I did to fix the issue.

1. Created a subclass of the ConnectArray directive, also added it to app.module.ts directives.
[code]

2. Replaced how the `ConnectBa

[2019-01-10 21:48] chunghha commented on #48
@smithad15 thanks for keeping me posted.

[2019-01-28 07:38] fvilers commented on #56
Could you release a 9.0.1 version with this fix?

[2019-02-13 19:39] vahiri opened #73 "Install behind corporate firwall"
Hi,

We are using angular 7 in our company.

Our company has corporate firewall that is blocking github standard repository for npm install and instead using a private repository. Your library does not exist in that repository and I am not able to download from github repository. I also tried to download the source and package it myself but had so many errors circular dependencies etc. Any chance

[2019-03-05 02:08] samantehrani commented on #20
Hello @smithad15 - noticing that bunch of Store related tests (where there are usage of NgRedux module mocks) are broken or they have been stubbed out. Is this due a foundational issue with the module itself or is that due to migration trouble referred to in this issue ? either way is there a plan on what needs to be fixed? I am using this library and would like to take advantage of the existing m

[2019-03-14 01:39] smithad15 commented on #73
If your company is using an internal NPM mirror like Artifactory or Nexus, you will need to talk to whomever is managing that tool so that they add the release binaries from the public npm repository for you to use. I would highly suggest against manually including dependencies outside of a package manager.

[2019-03-14 01:39] #73 closed

[2019-03-14 01:44] smithad15 commented on #20
Can you create a new issue outlining the details of what you are seeing? Code line references would be helpful. I don't think the module mocks have been looked at in some time. Would love some help if you are able to put up a PR

[2019-03-17 17:35] szb512 commented on #8
#77 refers to this as well.

[2019-04-11 08:53] fvilers opened #78 "Is this project still alive?"
Dear maintainer,

I'm using this library on a corporate level and I was wondering if the project is still alive. It's been 3 months since the last commit. There's an interesting PR open since January (#72) and nothing seems to move here.

I have a piece of code I'd like to submit too, but I'm now considering to publish it under its own package, to ensure it will be accessible to the rest of the co

[2019-04-13 07:10] ralfhauser commented on #78
If the project were dead, what are the alternatives to get the same funcitonality ?

[2019-04-13 07:15] fvilers commented on #78
I hope it isn't. There's another library to use Redux with Angular, which is https://github.com/ngrx/platform

[2019-05-03 21:13] #8 closed

[2019-05-03 21:21] smithad15 commented on #78
![giphy](https://user-images.githubusercontent.com/6526084/57166245-9196a800-6dc7-11e9-9411-3a91f9b4f1f4.gif)

[2019-05-03 21:21] #78 closed

[2019-05-10 14:39] MaKCbIMKo opened #84 "redux-devtools-extension became a required dependency"
### This is a...

- [ ] feature request
- [x ] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [ x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 8.9.4
Typescript Version: 3.2.4
Angular Version: 7.2.11
@angular-redux/store version: 10.0.0
@angular/cli version: 7.3

[2019-05-10 14:39] MaKCbIMKo commented on #56
Just playing with a release 10.0.0 and found interesting thing: `redux-devtools-extension` added as a **devDependency**, but it's required as a **dependency**. And it makes my project to have this dependency as well.

I've created an issue to track that (https://github.com/angular-redux/platform/issues/84).

[2019-05-10 16:43] wtho commented on #56
Can you elaborate on that? I think it's only added as a DevDependency.

What is the exact issue? Do you mind it being installed in your project?

[2019-05-13 09:05] MaKCbIMKo commented on #56
Probably, I was not clear enough with the case I have.

You're right that when you build the package it doesn't included into bundle.

But it still required by `DevToolsExtension` (dev-tools.ts file imports type definition). And in runtime you will have an error, because this import can't be resolved.

I don't mind to have `redux-devtools-extension` as DevDependency in my project. But if I build m

[2019-05-14 18:53] spygi commented on #64
This helps, thanks @wtho! Maybe it would make sense to have a link to your stackblitz in the README?

[2019-05-24 16:47] nanitohb opened #85 "ReactiveConnectDirective bad input, formGroup form not set in ConnectBase"
### This is a...

- [ ] feature request
- [x] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 10
Typescript Version: 3.2.4
Angular Version: 7.2.15
@angular-redux/store version: 10.0.0
@angular/cli version: 7.3.9
OS

[2019-05-24 16:50] nanitohb commented on #85
Sorry forgot to say in angular-redux/store@10.0.0

[2019-06-03 14:11] mattduggan opened #86 "@angular-redux/{router,form} peerDependency on @angular-redux/store should be ^10.0.0"
### This is a...

- [x] feature request
- [ ] bug report
- [ ] usage question

[2019-06-07 09:41] sbley commented on #86
To give some more insight:

[code]

yields

[code]

[2019-06-07 23:00] CodySchaaf opened #88 "Add support for Angular 8's change to esnext module code generation"
### This is a...

- [x] feature request
- [ ] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 11.9.0
Typescript Version: 3.4.5
Angular Version: 8.0.0
@angular-redux/store version: 10.0.0
@angular/cli version: (if a

[2019-06-11 19:07] CodySchaaf commented on #88
Seems to be solved by converting from

[code]

to

[code]

In my project. If that is the correct solution feel free to close!

[2019-06-12 06:36] jpkolind commented on #88
This is related to redux-observable. There is a library (https://www.npmjs.com/package/redux-observable-es6-compat) that fixes the issue

[2019-06-21 16:17] lcecil opened #89 "Unit Testing: MockNgRedux.getSelectorStub for @select with state => someFn(state)"
### This is a...

- [ ] feature request
- [ ] bug report
- [x] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 8.11.2
Typescript Version: ~3.1.3
Angular Version: ^7.0.1
@angular-redux/store version: ^9.0.0
@angular/cli version: (if

[2019-06-24 02:27] asvishnyakov opened #90 "Angular v8 support"
### This is a...

- [x] feature request
- [ ] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 10.16
Typescript Version: 3.4
Angular Version: 8
@angular-redux/store version: 10
@angular/cli version: (if applicable)

[2019-06-25 08:23] Ebg-Bibi opened #91 "Reactive Forms broken in Version 10 of angular-redux/forms"
### This is a...

- [ ] feature request
- [x ] bug report
- [ ] usage question

The "ReactiveConnectDirective" extends ConnectBase but does not set the protected field "form" anymore.

In Version 9 the Input property formGroup in "ReactiveConnect" is declared as:

 @Input('formGroup') form: any;

In Version 10 it is declared as:

@Input() formGroup: any;

So ConnectBase.form is no longer set to th

[2019-07-07 22:37] #86 closed

[2019-07-07 22:40] smithad15 commented on #90
There will definitely be an upgrade, however major version changes of Angular don't usually produce too many issues with using the library. Please do let us know if you see anything breaking in v8

[2019-07-07 23:08] smithad15 commented on #88
Looks like this is a `redux-observable` issue. Glad you found a solution.

[2019-07-07 23:08] #88 closed

[2019-07-07 23:15] smithad15 commented on #89
My personal approach would be to ensure that you are unit testing the selector function itself only. So in your case, there should be an isolated suite of tests for `getItems`. Since you would fully exercise that function in a separate suite, I would skip it in your Component suite. I will however take a look at this within our suite.

[2019-07-07 23:16] smithad15 commented on #91
Duplicate of #85

[2019-07-07 23:16] #91 closed

[2019-07-09 05:42] RAJKUMAR996 opened #92 "Throwing error while trying to use angular-redux"
### This is a...
- [x] bug report

### Environment

NodeJS Version: v8.12.0
Typescript Version:3.2.2
Angular Version:7.2.0
@angular-redux/store version:10.0.0
redux Version:4.0.2

### Stack Trace/Error Message:

ERROR in node_modules/@angular-redux/store/components/ng-redux.d.ts(10,31): error TS2420: Class 'NgRedux<RootState>' incorrectly implements interface 'ObservableStore<RootState>'.
  Proper

[2019-07-09 12:56] doanthai opened #93 "Class NgRedux incorrectly implements interface RootState"
### This is a...

- [ ] feature request
- [x] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 10.15.3
Typescript Version: 3.4.1
Angular Version: 8.0
@angular-redux/store version: ^10.0.0
@angular/cli version: (if a

[2019-07-09 14:30] #85 closed

[2019-07-09 17:59] esfandiar commented on #90
We recently upgraded to Angular 8 and angular-redux v10 works fine with Angular 8, and we didn't have to change anything. The only annoyance is that yarn (npm would do it too I guess) throws a warning that angular-redux expects Angular 7 not 8.

[2019-07-09 18:53] smithad15 commented on #90
That was my theory, but thank you for confirming. Feel free to utilize v10 with Angular 8. I will do a version bump at some point to remove the dependency warning, but that will require a major release and I want to see if I can get some more work in before I do so.

[2019-07-09 19:50] smithad15 opened #98 "Remove immutable.js as a direct dependency of @angular-redux/form"
Immutable.js is being included in the bundles of consuming applications even if they are not using Immutable themselves. This should not be the case.

[2019-07-09 19:53] #19 closed

[2019-07-09 22:15] JackSchaible commented on #93
Same issue here. Only a problem after attempting to upgrade from Angular 7 to 8.

[2019-07-09 22:25] JackSchaible commented on #90
I'm getting an error after upgrading to Angular 8 (from 7):
`Property '[Symbol.observable]' is missing in type 'NgRedux<RootState>' but required in type 'ObservableStore<RootState>'.`

Not sure if I need to update another package (maybe the redux node_module itself?). If it can help, my package.json has these dependencies:
`"dependencies": {
    "@angular-redux/form": "^10.0.0",
    "@angular-redu

[2019-07-09 22:35] JackSchaible commented on #90
Ok, found the issue. Apparently, Redux@4.0.3 doesn't work. Installed 4.0.1, works fine. Hope this helps anyone who has the same issue.

[2019-07-09 22:35] JackSchaible commented on #93
Apparently, this is an issue with redux@4.0.3 (and possibly 4.0.2?). I downgraded my redux package to 4.0.1, and it works fine now.

[2019-07-10 01:48] doanthai commented on #93
Thanks @JackSchaible, you right I use redux@^4.0.2 and I try change redux version to ^4.0.1 but it isn't working until it's 4.0.1

[2019-07-10 01:48] #93 closed

[2019-07-10 10:38] ilkkaparssinen commented on #92
Got same error with @angular-redux/store 9.0.0 and redux 4.0.3. Downgrading to redux 4.0.1 solved the situation for me.

[2019-07-10 21:56] lcecil commented on #89
Hi Andrew,

Thanks for the reply. Yes, I am testing that selector function in its own suite of tests, for sure. However, we're aiming for 100% coverage in our Component suites, and Karma is complaining those functions/lines aren't covered.

Perhaps I'll try mocking the function response through a spy. Let me know if you come up with any other solutions.

[2019-07-11 11:51] doanthai commented on #92
Same issue: https://github.com/angular-redux/platform/issues/93

[2019-07-12 22:45] asvishnyakov commented on #90
@smithad15

Hah, it's what about I argued with my team few weeks ago. Why do we need to wait any additional changes? Why we can't just make yet additional release even if it require minor or major version bump? Why it can't include only single simple fix? Chrome now have version 75 and there are no one worry about that.

[2019-07-13 09:58] caipirginka commented on #92
Yes, I can confirm that redux@4.0.1 works with latest @angular-redux.
There seems to be a specular issue on redux side: [https://github.com/reduxjs/redux/issues/3466](https://github.com/reduxjs/redux/issues/3466)
But I didn't understand if this is indeed a bug inside redux and it will get corrected in a future version, or if it is a bug inside angular-redux that needs to be modified to keep it wor

[2019-07-15 09:16] Swabo opened #99 "When navigating by UPDATE_LOCATION guards are ignored"
### This is a...

- [ ] feature request
- [x] bug report
- [x] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 10.16.0
Typescript Version: 3.2.4
Angular Version: 7.2.1
@angular-redux/store version: 10.0.0
@angular/cli version: (if

[2019-07-19 02:05] nivrith commented on #92
Yes, same after downgrading to redux@4.0.1 it works with latest @angular-redux for me

[2019-07-21 21:15] Sieabah commented on #90
Could it just be a patch release to change the package.json? I really don't want to wait just so I can get rid of some install warnings that I can't tell which ones are real warnings anymore. You've had 2 months since Angular 8 has been released to _fix_ this?

[2019-07-23 12:40] Swabo commented on #99
any updates?

[2019-07-27 12:09] eveni commented on #90
Im getting the same error as @JackSchaible
will there be a fix ? or should I downgrade my Redux to 4.0.1 ?

[2019-07-29 13:38] craigryan commented on #90
"Ok, found the issue. Apparently, Redux@4.0.3 doesn't work. Installed 4.0.1, works fine. Hope this helps anyone who has the same issue."

This didn't fix the problem. My versions are as follows (redux set from 4.0.4 back to 4.0.1, same error).

[code]

[2019-07-31 15:19] SteppeEagle commented on #92
the same for me. I spent a lot of time for fixing it.

[2019-08-07 16:43] s-uds commented on #56
I second that, redux-devtools-extension is used [here](https://github.com/angular-redux/platform/blob/master/packages/store/src/components/dev-tools.ts#L3), though listed as a [devDependency](https://github.com/angular-redux/platform/blob/master/packages/store/package.json#L38).

Angular compilation fail on that very issue, we had to manually install the dependency ourselves.

[2019-08-08 08:23] s-uds commented on #84
I second that, redux-devtools-extension is used [here](https://github.com/angular-redux/platform/blob/master/packages/store/src/components/dev-tools.ts#L3), though listed as a [devDependency](https://github.com/angular-redux/platform/blob/master/packages/store/package.json#L38).

The build obviously fail on that very issue, we had to manually install the missing dependency.

[2019-08-09 17:05] herman-rogers opened #100 "Compiler errors when importing NgReduxModule - missing @NgModule annotation"
### This is a...

- [ ] feature request
- [x] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [ ] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [x] Other - Bazel

### Environment

NodeJS Version: 10.15.3
Typescript Version: 3.4.3
Angular Version: 8.0.3
@angular-redux/store version: 10.0.0
OS: Mac OS

### Ex

[2019-08-30 04:26] Demven commented on #100
I have the same issue :(

[2019-08-30 12:28] HarelM commented on #90
Any chance to update the dependency for angular? I'm using this version with angular 8 and it works as expected, I would like to avoid seeing the npm warnings...

[2019-08-30 19:30] asvishnyakov commented on #90
I still expecting problems with redux-observable-decorator (`@Epic`) because of lacking support of es2015 mode in redux observable: https://github.com/redux-observable/redux-observable/issues/644

[2019-09-26 15:41] rmorrise opened #101 "angular-redux/store error with won't compile with rxjs 6.4.0"
### This is a...

- [x] bug report

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli

### Environment

NodeJS Version: 12.10.0
Typescript Version: 3.5.3
Angular Version: 8.2.7
@angular-redux/store version: 10.0.0
@angular/cli version: (if applicable) 8.3.5
OS: Win10 Enterprise x64

### Expected Behaviour:

Should compile normally.

### Actual Behaviour:

Error runni

[2019-09-26 21:15] dalu commented on #90
Ok let me be the dumbo who asks, "so can we use it with yet A8?"

[2019-09-26 21:53] Sieabah commented on #90
@dalu I've just moved to using ngxs instead of relying on this directly.

[2019-09-27 10:17] dalu commented on #90
@Sieabah yeah but their data repo isn't quite there yet. The part about relationships inn particular, which would be the whole reason why I'd any of the 2 libs. Not really a big friend of the complexity it adds.
I was considering to do an experiment.

Write the services the usual way list, get, update, create, remove.
Have a manager type service that aggregates data from those services.
Communicat

[2019-09-27 18:15] HarelM commented on #90
@dalu see my comment above...

[2019-09-28 19:27] tgdeakin opened #102 "formGroup not mapping to connect directive when using reactive form"
### This is a...

- [ ] feature request
- [x] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 10.16.3
Typescript Version: 3.5.3
Angular Version: 8.2.2
@angular-redux/store version: 10.0.0
@angular/cli version: (if

[2019-10-24 06:54] GIGNorbertBorg commented on #100
Anyone managed to get past this error when using Bazel?

[2019-11-05 09:39] LukasKlement commented on #101
You need to downgrade to redux 4.0.1 to compile your project, see this comment [here](https://github.com/angular-redux/platform/issues/90#issuecomment-509835001) or [here](https://github.com/angular-redux/platform/issues/92#issuecomment-513060672).

[2019-12-02 23:44] dkowis commented on #102
I am also having this exact problem with 10.0.0. Very frustrating. Can't do form integration at this point... I haven't found the silly thing you're missing.

[2019-12-02 23:45] dkowis commented on #102
I get a slightly different error though:
<img width="550" alt="image" src="https://user-images.githubusercontent.com/28048/70004337-83f6fb80-152b-11ea-8e23-19b226376ff8.png">

[2019-12-02 23:48] dkowis commented on #102
That referenced commit is the 1st commit after releasing 10.0.0.

Could we get a 10.0.1 please?

[2019-12-03 19:31] noahsalvadordenjo opened #103 "Redux Devtools angular 8"
Im trying to configure the redux devtools in app.module the way is used to configure it, but now i get a error.
`constructor(private ngRedux: NgRedux<IAppState>, devTools: DevToolsExtension) {
    const enhancer = isDevMode() ? [devTools.enhancer()] : [];
    this.ngRedux.configureStore(reducers, initialState, [enhancer]);
  }`

[2019-12-04 16:05] dkowis commented on #103
I've got it working in angular8, typescript is happy with this:

[code]

[2019-12-04 16:19] dkowis commented on #102
It seems as though NPM does not support installing a package from git when it's in a monorepo. This is a huge pain in my butt. Does anyone on this thread know how to install that way?

A quick solution would be a 10.0.1. @smithad15 could you knock this out?

[2019-12-04 16:50] dkowis commented on #102
https://github.com/angular-redux/platform/blob/master/CONTRIBUTING.md#canary-releases

I just discovered this in the CONTRIBUTING.md, that should be sufficient for now!

[2019-12-12 11:00] s-uds opened #105 "Dispatch an action outside of ngZone"
### This is a...

- [x] feature request
- [ ] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 13.1.0
Typescript Version: 3.4.5
Angular Version: 8.2.8
@angular-redux/store version: 10.0.0
@angular/cli version: 8.3.6

[2019-12-16 14:47] mengdi commented on #105
PR available here for review https://github.com/angular-redux/platform/pull/106

[2019-12-23 14:22] AhmadShahid opened #107 "Angular Upgrade from v7 to v8 Peer Dependency issue"
upgrading  Angular version from 7.0 to Angular 8 by executing "ng update @angular/cli @angular/core" give me the follwing error  Package "@angular-redux/store" has an incompatible peer dependency to "@angular/core" (requires "^6.0.1" (extended), would install "8.2.14").

![image](https://user-images.githubusercontent.com/10240075/71363009-8a701480-25b9-11ea-9a6d-5f520b4e2962.png)

[2019-12-23 15:16] ChugunovD opened #108 "Support Ivy compiler for redux-router"
### This is a...

* [x] feature request
* [ ] bug report
* [ ] usage question

### What toolchain are you using for transpilation/bundling?

* [x] @angular/cli
* [ ] Custom @ngTools/webpack
* [ ] Raw `ngc`
* [ ] SystemJS
* [ ] Rollup
* [ ] Other

### Environment

NodeJS Version: v10.15.3
Typescript Version: ~3.6.4
Angular Version: ~9.0.0-rc.6
@angular-redux/store version: ^9.0.0
@angular/cli versi

[2019-12-28 05:33] myquery commented on #40
`public createEpics(): Epic<Action,
      Action, any, any>[]`

      `const middleware =
        createEpicMiddleware();
           store.configureStore(
           rootReducer,
           INITIAL_STATE,
            [createLogger(), middleware],
              isDevMode() &&
            devTools.isEnabled() ?
                [devTools.enhancer()] : []
          );
           for (const epic of

[2020-01-13 05:07] maheshnvv opened #110 "Substore with Provide Store doesn't work"
### This is a...

- [ ] feature request
- [ ] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [ ] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 10.5.2
Typescript Version:3.5.3
Angular Version: 8
@angular-redux/store version:
@angular/cli version: (if applicable)
O

[2020-01-13 07:12] joese commented on #40
No, Epic is not an action creator. It is rather a mechanism to be able to add side-effect to actions. Those side-effects could be returning one or more actions which in theory could trigger other epics defined for those action. You could even trigger other not redux related statements such as alerts etc.

When an Action is triggered that is declared to be caught in an Epic, that epic will be execu

[2020-02-15 21:58] kirillgroshkov opened #111 "Angular 9 support"
### This is a...

- [x] feature request
- [ ] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

Would be nice to have Angular 9 support.

[2020-02-15 21:59] kirillgroshkov commented on #107
Same with Angular 9 now

[2020-02-15 22:02] kirillgroshkov commented on #90
any progress on this?

[2020-02-19 04:03] maplion commented on #111
@kirillgroshkov I'm currently using angular-redux/store 10.0.0 with Angular 9 and not having any issues.  What issues are you having?

[2020-02-19 22:37] paztis opened #112 "Observable updates aren't reflected in templates"
### This is a...

- [ ] feature request
- [x] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [x] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Environment

NodeJS Version: 12.13.1
Typescript Version: 3.7.5
Angular Version: 9.0.1
@angular-redux/store version: 10.0.0
@angular/cli version: (if

[2020-02-20 09:23] paztis commented on #112
I'm using a library that provide an already created redux store
I attached it to my angular app through `ngRedux.provideStore(myStore);`

But this means there's 2 instances of Redux in my app:
- 1 provided in the lib I use
- 1 tracked by @angular-redux/store

Isn't it a conflict here ? I mean angular-redux listen on methods of the bad redux ?
How to support htis case ?

[2020-02-20 12:30] paztis commented on #112
It start to be really crazy.
If I create 2 Observers:
- 1 from @select as in hte 1st example
- 1 manual, that subscribe from the select, log and update teh value

Even in this case the rendering is failed...

Noone already envounter this problem ?

[code]

[2020-02-20 13:16] paztis commented on #112
OK after loooong search I found the problem, and it seems a pure angular issue

This code is working:
[code]

The reason is that the action origin is out of angular application.
I just create an empty interval method in my component, and the angular application will understand there an activity in the app, then will update corresponding rendering...
Really crazy.

Will open a defect in angular and

[2020-02-21 06:31] paztis commented on #112
It seems the reason is I provide to angular-redux an externally created store.
In this case this store is not wrapped by zonejs.
How can we support it properly ?

[2020-02-23 01:13] kirillgroshkov commented on #111
Not 100% sure it's related to `angular-redux`, but after updating to Angular 9 I see this:

![image](https://user-images.githubusercontent.com/4757745/75101757-0dc1dc80-55e2-11ea-8bff-fae3b4e16b5a.png)

![image](https://user-images.githubusercontent.com/4757745/75101760-1b776200-55e2-11ea-89b6-8b25c0a8b2b4.png)

[2020-02-23 02:36] maplion commented on #111
@kirillgroshkov  Ah yes, I was able to fix that issue by installing the library `redux-observable-es6-compat` https://github.com/iwnow/redux-observable-es6-compat

[2020-02-23 03:01] maplion commented on #107
@kirillgroshkov or @AhmadShahid can you provide more information?  What versions are your packages?  I honestly didn't have any issues, but I think I updated my packages for @angular-redux/router and /store before I tried to do an `ng update`.  Also, what version of node?

[2020-02-23 03:05] maplion commented on #112
@paztis That's quite the journey you had.  I think the bigger question is how to get more people managing this repository because it seems pretty dead at the moment.

[2020-02-23 19:53] kirillgroshkov commented on #107
I believe that this issue only states the `package.json` `peerDependencies` incompatibility. It's fixable by adding `--force` to `ng update ...`, but still annoying, since the fix is only to bump peerDependencies from `^7.0.0` to `^8.0.0`

[2020-02-26 10:52] asvishnyakov commented on #111
Related to #90

[2020-03-07 15:28] AhmadShahid commented on #107
@maplion  i am  currently updating it from v7 to v8 and i am using node version v10.

[2020-03-22 01:06] maplion commented on #111
@asvishnyakov Do you know if anyone is working on this project?

[2020-03-25 16:02] wballoni opened #114 "Is this project dead?"
### This is a...

- [X] feature request
- [ ] bug report
- [ ] usage question

### What toolchain are you using for transpilation/bundling?

- [X] @angular/cli
- [ ] Custom @ngTools/webpack
- [ ] Raw `ngc`
- [ ] SystemJS
- [ ] Rollup
- [ ] Other

### Additional Notes:
Not really a feature but a general question: Is this project going to be supported going forward, or is it dead? I understand manag

[2020-03-30 14:54] jesse-deboer commented on #114
I think the project is indeed dead, would be nice if a maintainer would let us know if it will be deprecated.

[2020-03-30 15:09] masternone commented on #114
Maybe the solution is to not get one of the original maintainers to relinquish control but for someone who is commenting here to fork this project and we start maintaining the the fork.

[2020-04-06 15:46] wbuchwalter commented on #114
Sorry for the delayed response, I haven't contributed to angular-redux in years so I am not monitoring issues.
It does look like this repo is not actively maintained anymore indeed.

@smithad15 @e-schultz Can you confirm?
If the answer is yes or there is no response from the most recent maintainers after a reasonable delay (say in a week) I am glad to add people as contributors if some of you are

[2020-04-13 14:30] wbuchwalter commented on #114
Since there has been no answer we can assume that no one is maintaining this project anymore.

If some of you are willing to contribute to this repo I can add you as collaborator.
In the meantime I'll go ahead and clearly mark this repository as inactive for now.

[2020-04-13 14:42] smithad15 commented on #114
Correct, I have not been able to find the time to maintain this package, nor am I particularly close to Angular development anymore. Happy to help facilitate a transition, but I also haven’t seen many folks who want to contribute through PRs as yet.

The good news is that the core of the package has been incredibly stable over the past couple of major releases and other than an npm dependency warn

[2020-05-04 09:29] baart1989 commented on #114
Thanks for creating this lib!

As repo is not maintained anymore, we have been considering migrating to NgRX.
But it seemed for me so big overhead.

As in company we were using angular-redux with redux-observable.
Moving pure js/ts epics to NgRX effect's seemed for me biggest overhead, as it would require lots of changes.

As we are using only small portion of angular-redux (and all selectors are

[2020-06-02 11:38] jojo8994 opened #116 "repo marked as unmaintained"
Hi,

I am wondering why this project is currently marked as unmaintained? I have found this very useful and it would be a shame to see it go and have to use NgRx for redux boiler plaiting for future releases of angular,

Best wishes,

### This is a...

- [ ] feature request
- [ ] bug report
- [ x] usage question

### What toolchain are you using for transpilation/bundling?

- [ ] @angular/cli
- [

[2020-06-29 00:50] ambientlight commented on #114
@smithad15: we are using angular-redux internally and I know its codebase a bit, and I also looking into its integration with logux at https://github.com/logux/logux/issues/18 since we rely heavily on angular-redux. I would like to volunteer to main this.

[2020-08-13 16:59] 123niel commented on #116
https://github.com/angular-redux/platform/issues/114#issuecomment-612922598

[2020-08-20 11:30] #92 closed

[2020-08-31 15:48] rplotkin commented on #114
Please add me as a collaborator. I'm a software architect, I use and rely upon this library, and I'm happy to help maintain it. @wbuchwalter

[2020-11-03 14:33] AmruthaFR opened #123 "'formDirective' is defined as an accessor in class 'ControlContainer', but is overridden here in 'ConnectArray' as an instance property."
**Current Behavior:**
Updated my project from Angular 8 to Angular 10.

**package.json contains :**

"@angular-redux/form": "6.7.0",
"@angular-redux/store": "7.1.1",
"@angular/cdk": "10.2.5",
"@angular/common": "10.1.6",
"@angular/core": "10.1.6",
"@angular/flex-layout": "10.0.0-beta.32",
"@angular/forms": "10.1.6",
"redux": "3.7.2",
"redux-logger": "3.0.6",
"redux-observable": "0.17.0",
"redux-ob

[2020-11-03 14:37] AmruthaFR commented on #123
from @angular-redux/ form i import the below for the project :
import { composeReducers, defaultFormReducer } from '@angular-redux/form';
export const rootReducer =
composeReducers(
  defaultFormReducer(),

import { provideReduxForms } from '@angular-redux/form';
provideReduxForms(store);

[2020-12-02 15:05] rplotkin commented on #114
@wbuchwalter @smithad15 I am happy to help maintain this project. If you can add me as a collaborator, I can start with basic maintenance like Ng11 updates.

[2020-12-07 22:13] wbuchwalter commented on #114
@rplotkin Unless @smithad15 can chime here to help with that, I think it would be best for you to start a fork as I don't have access to all the npm registries etc.
If you do start a fork, let me know here and I'll mark this repository as deprecated and point to your repo in the README.

[2020-12-09 00:49] rplotkin commented on #114
@wbuchwalter this is a good idea. I'll do this, and set up CI and such. Once everything is passing I will post again

[2021-01-06 13:45] rplotkin commented on #114
@wbuchwalter Just an update, I do have CI working, but the lerna monorepo structure and example-app are causing a lot of issues as I try to get things running and upgrading locally.  I am going to spike an nx monorepo structure, which I think will resolve upgradability. My plan is to release a v11 compatible with ng11 (and then keep parity in v numbers with Angular going forward).  I'll ensure 10

[2021-01-06 15:22] wbuchwalter commented on #114
@rplotkin I do not have access to the angular-redux npmjs handle as my involvement with this project predated it's creation.
So unless one of the admin of that handle step up here you will have to create a new one.

[2021-01-06 15:28] smithad15 commented on #114
Hey @rplotkin. Glad to hear you're game for taking over help with the library. If you want to get in touch with me on Twitter (@smithad15), we can work out how best to move forward 🙂

[2021-01-16 20:21] HarelM commented on #114
I would be very interested to know how this was resolved.
My code base is using this library and I would hate to invest in migrating instead of invest in helping here.
Please let me know what you decided, hopefully here, and what are the next steps.
I'm in the middle of upgrading to Ng11 (from 8) and I would like to have the npm install warnings removed...

[2021-06-17 22:42] Canos commented on #114
@HarelM any new about this migration?
Can we use the project in ng11?

[2021-06-18 03:32] HarelM commented on #114
Since I did not receive any feedback I decided to take the relevant code and integrate it in my project.
This is less than ideal but I needed a long term solution...
See here:
https://github.com/IsraelHikingMap/Site/tree/master/IsraelHiking.Web/src/application/reducers/infra
If someone got the npm keys in order to push a new package I'd be happy to help out on that fork...

[2021-09-22 18:09] Garefild commented on #114
Hey, I'm trying to maintain this library.
https://github.com/angular-redux2/store

[2021-09-22 18:57] HarelM commented on #114
@Garefild thanks for the info!
I'll give it a go once I have a few minutes to do the switch.
Thanks for taking the time to do this!
Would you be interested in integrating the following file into your library?
https://github.com/IsraelHikingMap/Site/blob/main/IsraelHiking.Web/src/application/reducers/infra/decorators/reducer-action-decorator.ts
I use it to define classes and then use them as reduce

[2021-09-22 20:25] Garefild commented on #114
@HarelM
Thanks, I'll do it later or on the weekend.

[2022-09-04 14:54] JianMeng commented on #114
What changes need to be make if let angular-redux/store  support angular 13 or 14?

[2022-09-04 15:14] HarelM commented on #114
Use another library instead of this one:
angular-redux2/store or something similar which is currently maintained...

[2022-10-21 13:20] baart1989 commented on #114
Anyone having problem with this library, following file - https://gist.github.com/baart1989/a8d75be7846fa6d6521ec7821b7a1810 allowed me to get rid off 3rd party dependency, and still use redux in my app. Much easier then moving to any other lib, or try to maintain existing ones :)

[2022-10-21 14:00] HarelM commented on #114
The above library I mentioned is well maintained, I encourage to use it.
While using a single file is probably a quick an elegant solution I'm not sure how easy it is to mock and test this, let alone understand how to migrate and use it.
I haven't tried, so I might be super wrong here... 😄